<div class="menu">
    <ul>
        <li>
            <%= link_to 'Promoções', promocoes_path %>
        </li>
        <li>
            <%= link_to 'Vendas', vendas_path %>
        </li>
    </ul>
    <h3>Cadastros</h3>
    <ul>
        <li>
            <%= link_to 'Clientes', clientes_path %>
        </li>
        <li>
            <%= link_to 'Empresas', empresas_path %>
        </li>
        <li>
            <%= link_to 'Formas de Pagamento', formas_pagamento_path %>
        </li>
        <li>
            <%= link_to 'Sites de Promoções', sites_path %>
        </li>
        <li>
            <%= link_to 'Tipos de Pagamento', tipo_pagamentos_path %>
        </li>
        <li>
            <%= link_to 'Tipos de Venda', tipos_venda_path %>
        </li>
        <li>
            <%= link_to 'Viajantes', viajantes_path %>
        </li>
    </ul>
</div>